.align-middle{
	left: 50%;
	margin: 0;
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

button{
	background-color: red;
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	margin: 4px 2px;
	padding: 20px;
	text-align: center;
}